aside {
  width: 90vw;
  height: 43vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

aside > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}

aside > div:first-of-type > div {
  margin-left: 20px;
}

aside img {
  width: 15vw;
}

aside h1 {
  margin: 0;
  letter-spacing: 0.3px;
  font-size: 3rem;
  font-weight: 600;
}

aside h1, aside p {
  color: #222;
}

aside p {
  font-size: 2.5em;
}

aside > div:first-of-type div > p {
  position: static;
  margin: 0;
  color: #666;
  font-size: 3em;
  font-weight: 200;
}

.status-section-pc {
  position: absolute !important;
  bottom: 85px !important;
  right: -0.3vw;
  display: none;
  background: white;
  border: 1px solid #eee;
  border-radius: 50%;
  width: 2.7vw;
  height: 2.7vw;
  font-size: 0.7em;
}

.status-section-pc:hover {
  width: max-content;
  right: -9vw;
  padding: 0 20px;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
}

.status-section-pc  img {
  width: 1.45vw;
  position: static;
  margin: 0 auto;
  display: block;
  bottom: 0;
}

.status-section-pc  > span {
  display: none;
}

.status-section-mobile {
  width: 80vw;
  height: 8vw;
  margin-top: 7vh;
  padding: 0 2vw;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ddd;
  align-items: center;
  font-size: 1.8em;;
}

.status-section-mobile > img {
  width: 5vw;
  margin-right: 20px;
}


@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    aside {
      display: block;
      width: 23vw;
      margin: 0;
      height: 90vh;
      padding: 0 2vw;
    }
    
    aside > div:first-of-type {
      width: max-content;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1vw;
    }

    aside > div:first-of-type > div {
      margin: 0;
    }

    aside > div:first-of-type div, aside p {
     position: relative;
     bottom: 25px;
    }

    aside > div:first-of-type div > p {
      position: static;
      font-size: 1.2em;
    }

    aside h1 {
      font-size: 1.6em;
    }

    aside p {
      margin: 10px 0 0;
      margin-left: 1vw;
      font-size: 1em;
      color: #333;
    }

    aside img {
      width: 21.5vw;
      position: relative;
      bottom: 30px;
      margin-left: -1vw;
    }

    .status-section-pc {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .status-section-pc:hover  > span {
      display: inline-block;
      margin-left: 5px;
      color:  #0366d6;
      cursor: pointer;
    }

    .status-section-mobile {
      display: none;
    }
  }