.avatar {
  border-radius: 50%;
}

#primary-header-mobile, #primary-header-mobile a,  #primary-header-pc, #primary-header-pc a {
  color: #eee;
  font-weight: 600;
  text-decoration: none;
}

#primary-header-mobile a,  #primary-header-pc a {
  width: max-content;
  font-size: 0.92em;
}

#primary-header-mobile, #primary-header-pc {
  display: flex;
  background: #333333;
  color: #eee;
  height: 150px;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}

#primary-header-mobile .iconify, #primary-header-pc .iconify {
  color: #eee;
  width: 2.5em;
  height: 9em;
}

#primary-header-pc .iconify {
  width: 1.5em;
}

#primary-header-pc div, #primary-header-pc span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#primary-header-mobile .github-icon {
  width: 6em;
  height: 20em;
  color: white;
}

.bell-blob {
  width: 1em;
  height: 1em;
  background-color: deepskyblue;
  border-radius: 50%;
  position: absolute;
  top: 45.5px;
  z-index: 20;
  left: 95%;
}

#primary-header-pc {
  display: none;
  height: 65px;
}

#primary-header-pc > div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

#primary-header-pc > div:first-of-type div {
  display: flex;
  justify-content: space-between;
  width: 41vw;
  position: relative;
  right: 15px;
}

#primary-header-pc > div:nth-of-type(2) {
  width: 10%;
}

#primary-header-pc .github-icon {
  width: 2em;
  height: 9em;
  color: white;
}

#primary-header-pc form {
  width: 50%;
  flex-direction: row;
  position: relative;
  right: 15px;
}

#primary-header-pc input {
  background: transparent;
  border: 1px solid #666;
  padding: 5px 35px 5px 5px;
  border-radius: 6px;
  color: #eee;
}

#primary-header-pc input:focus {
  padding-right: 45px;
}

#primary-header-pc .focus-visible {
  box-shadow: none;
  border: 1px solid #666;
  outline: none;
}

:-ms-input-placeholder {
  color: white;
  font-weight: 400;
}

#filter {
  position: absolute;
  right: 33px;
}

.dropdown-icon {
  width: 0.45em;
  position: relative;
  top: 0.2em;
  margin-left: 3px;
}

#primary-header-pc .bell-icon {
  width: 1em;
}


@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    #primary-header-mobile {
      display: none;
    }

    #primary-header-pc {
      display: flex;
    }   

    .github-icon {
      width: 3rem;
    }

    #avatar-div-petit {
      width: 7%;
      border-radius: 50%;
    }

    #avatar-div-petit .avatar {
      width: 2rem;
      height: 2rem;
    }

    .bell-blob {
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      top: 20.5px;
      left: 90%;
    }
}

#secondary-header {
  position: relative;
  top: 43vh;
  border-bottom: 1px inset lightgrey;
}

#secondary-header > div {
  color: black;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: flex-end;
  text-align: end;
  padding: 0 5vw 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  font-weight: 400;
}

#secondary-header > div::-webkit-scrollbar {
  width: 5px;
  height: 9px;   
}

#secondary-header > div::-webkit-scrollbar-thumb {
  background-color: lightgrey;        
}

#secondary-header > div::-webkit-scrollbar-track-piece:end {
  margin-right: 50px; 
}

#secondary-header > div::-webkit-scrollbar-track-piece:start {
  margin-left: 50px;
}

#secondary-header .iconify {
  color: grey;
  display: none;
  margin-right: 7px;
  position: relative;
  top: 3px;
}

#secondary-header > div div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 2.5em;
  margin-right: 9vw;
}

#repo-tab {
  border-bottom: 4px solid #f9826c;
  font-weight: 600;
}

#repo-tab > .iconify {
  color: black;
}


#repo-count {
  width: 50px;
  height: 40px;
  border-radius: 9px;
  margin-left: 12px;
  margin-top: 3px;
  text-align: center;
  background: #eee;
  font-size: 0.65em;
}

@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    #secondary-header {
      position: static;
    }

    #secondary-header > div {
      width: 40%;
      margin: 0 20% 0 28%;
      padding: 0;
      overflow-x: visible;
    }

    #secondary-header > div .iconify {
      display: inline;
      width: 1.09em;
      height: 3.2em;
    }

    #secondary-header > div div {
      height: 50px;
      font-size: 0.9em;
      margin-right: 2vw;
      justify-content: center;
      cursor: pointer;
    }

    #secondary-header > div div:hover {
      border-bottom: 2px inset lightgrey;
    }

    #repo-tab, #secondary-header > div #repo-tab:hover {
      border-bottom: 2px inset #f9826c;
    }

    #repo-count {
      width: 30px;
      height: 20px;
      margin-left: 5px;
      font-size: 0.75em;
    }
}

#burger-menu {
  display: none;
}