#repo-section form {
  margin: 50px auto;
}

#repo-section form input {
  width: 90vw;
  padding: 25px 20px;
  border: 1px solid #bbb;
  border-radius: 12px;
}

#repo-section form input::placeholder, #repo-section form input::-webkit-input-placeholder {
  font-size: 1.5em;
}

.repo-item {
  margin: 10px 4vw;
  padding: 45px 0 40px;
  border-bottom: 1px solid #ddd;
}

#public-repo-div {
  margin: 0 4vw;
  color: #444;
  padding-bottom: 5px;
  width: max-content;
  font-size: 30px;
  border-bottom: 1px solid #ddd;;
}

.repo-item a {
  text-decoration: none;
  color: #0366d6;
  font-weight: 600;
  font-size: 2.7em;
}

.repo-item a:hover {
  text-decoration: underline;
}

.repo-item > div {
  align-items: revert;
}

.repo-item p, .description {
  color: #888;
  font-size: 2.5em;
}

.repo-item span {
  font-size: 11.5px;
  color: #222;
  margin-right: 15px;
}

.description {
  margin-top: 10px;
  width: 70%;
  word-wrap: break-word;
  line-height: 60px;
}

.adt-info {
  margin-top: 2vh;
}

.adt-info > span {
  margin-right: 2.5vw;
}

.language-div {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
}

.adt-info .iconify {
  width: 24px;
  height: 24px;
}

.repo-item button {
  display: none;
}


@media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {
    body {
      overflow-x: hidden;
    }

    main {
      width: 70%;
      height: 90vh;
    }

    #repo-section form {
      margin: 20px auto;
    }

    #repo-section form, #repo-section form input {
      width: 93%;
      padding: 5px 10px;
      border-radius: 5px;
    }

    #repo-section form input {
      border: 1px solid #eee;
    }

    #repo-section form input::placeholder, #repo-section form input::-webkit-input-placeholder {
      font-size: 1em;
    }
    
    #public-repo-div {
      font-size: 14px;
      padding-top: 10px;
    }

    .repo-item {
      padding: 0;
      padding: 20px 0;
    }

    .repo-item > div {
      align-items: revert;
      display: inline-block;
      margin: 0;
      width: 55vw;
    }

    .repo-item button {
      position: absolute;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 70.5px;
      height: 27px;
      border: 1px outset #eee;
      margin: 0;
      color: grey;
      background: rgba(0, 0, 0, 0.03);
    }

    .repo-item a {
      font-size: 1.3em;
    }

    .description {
      font-size: 1em;
      line-height: 30px;
    }

    .language-div {
      width: 10px;
      height: 10px;
    }

    .adt-info > span {
      margin-right: 1vw;
      font-size: 12px;
    }

    .adt-info > span:first-of-type span {
      margin-right: 1vw;
    }

    .repo-item span {
      font-size: 11px;
    }

    .adt-info .iconify {
      width: 12px;
      height: 12px;
    }
  }